@import "tailwindcss";

.cover {
  display: flex;
  width: 1440px;
  flex-direction: column;
  align-items: center; 
  background: var(--Secondary-Green, #CDE6BD); 
}

.nav-bar{
  display: flex;
  width: 1440px;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex: 1 0 0;
  flex-wrap: wrap;
  background: var(--Primary-Green, #5AB47B);
}

.nav-bar .links{
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-bar .link{
  display: flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 24px;
  border: 2px solid var(--Outline, #000);
  background: var(--Secondary-Green, #CDE6BD);
  color: inherit;
  text-decoration: none;
}

.nav-bar .link:hover{
  background: var(--Primary-Green, #366546);
  color: var(--Outline, #000);
}

.nav-bar .link .text{
  color: var(--Outline, #000);
  font-family: "Pixelify Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-padding{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 72px;
}

.welcome-section{
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 25px;
  border: 2px solid var(--Outline, #000);
  background: var(--Primary-Green, #5AB47B);
}

.search-section{
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 25px;
  border: 2px solid var(--Outline, #000);
  background: var(--Primary-Green, #5AB47B);
}

.title{
  align-self: stretch;
  color: var(--Outline, #000);
  text-align: center;
  font-family: "Pixelify Sans";
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;  
}

.subtitle{
  align-self: stretch;
  color: var(--Secondary-Outline, #FFF);
  text-align: center;
  font-family: "Pixelify Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.h1{
  color: var(--Outline, #000);
  text-align: left;
  font-family: "Pixelify Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.h2{
  color: var(--Outline, #FFF);
  text-align: left;
  font-family: "Pixelify Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.table-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.table-container .text-body{
  color: var(--Outline, #000);
  text-align: center;
  font-family: "Pixelify Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.table-container .text-header{
  color: var(--Secondary-Outline, #FFF);
  text-align: center;
  font-family: "Pixelify Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

table.rounded-corners{
  width: 100%;
  border: 3px solid var(--Outline, #000);
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

table.rounded-corners th, 
table.rounded-corners td{
  padding: 10px;
  text-align: left;
  border: 2px solid var(--Outline, #000);
}
        
tr:nth-child(even){
  background-color: var(--Primary-Green, #5AB47B);;
}

tr:nth-child(odd){
  background-color: var(--Secondary-Green, #CDE6BD);
}

table tr:first-child{
  background-color: var(--Dark-Green, #366546); 
}

.search-bar-container{
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.search-bar{
  display: flex;
  padding: 24px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 25px;
  border: 2px solid var(--Outline, #000);
  background: var(--Secondary-Green, #CDE6BD);
}

.search-bar .text{
  color: var(--Outline, #000);
  text-align: left;
  font-family: "Pixelify Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: flex-start;
  flex: 1 0 0;
}

.search-button{
  display: flex;
  padding: 24px 12px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 25px;
  border: 2px solid var(--Secondary-Outline, #FFF);
  background: var(--Dark-Green, #366546);
}

.search-button:hover{
  background: var(--Secondary-Green, #CDE6BD);
  border: 2px solid var(--Secondary-Outline, #000);
}

.card-grid{
  display: inline-grid;
  row-gap: 24px;
  column-gap: 24px;
  grid-template-rows: repeat(2,fit-content(100%));
  grid-template-columns: repeat(5,fit-content(100%));
  grid-auto-flow: row;
}

.stat-card{
  display: flex;
  width: 225px;
  height: 125px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  grid-row: span 1;
  grid-column: span 1;
  border-radius: 25px;
  border: 2px solid var(--Outline, #000);
  background: var(--Secondary-Green, #CDE6BD);
}

.stat-card .header-text{
  color: var(--Outline, #000);
  text-align: left;
  font-family: "Pixelify Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.stat-card .stat-text{
  color: var(--Outline, #000);
  text-align: left;
  font-family: "Pixelify Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sprite{
  width: 300px;
  height: 300px;
}

.info-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.stats-chart{
  position: relative;
  width: 400px;
  height: 250px;
  padding: 16px;
  border: 2px solid var(--Outline, #000);
  border-radius: 10px;
  background: var(--Secondary-Green, #CDE6BD);
  font-family: "Pixelify Sans";
}
